.roll {
    position: relative;
}

.roll-rail {
    overflow: auto;
    position: relative;
    -webkit-overflow-scrolling: touch;
}

@media screen and (min-width: 700px) {
    .roll-rail {
        overflow: hidden;
    }
}

.roll-wrap {
    display: flex;
    transition: transform 300ms;
}

@media screen and (max-width: 699px) {
    .roll-wrap {
        transform: translateX(0) !important;
    }
}

.roll-pane {
    min-width: 100%;
    flex: 1;
}

.roll-control {
    display: none;
}

@media screen and (min-width: 700px) {
    .roll-control {
        display: block;
        margin-top: 16px;
        position: relative;
    }
}

.roll-button {
    border: none;
    margin: 0;
    padding: 0;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
    cursor: pointer;
}

.roll-button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.roll-arrow {
    position: absolute;
    top: 0;
    width: 24px;
    height: 24px;
}

.roll-arrow:before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border: solid #999;
    border-width: 0 3px 3px 0;
    padding: 3px;
    transform: rotate(135deg);
    position: relative;
    left: 4px;
}

.roll-arrow:focus:before,
.roll-arrow:hover:before {
    transition: border-color 150ms;
    border-color: #222;
}

.roll-arrow-right {
    right: 0;
}

.roll-arrow-right:before {
    transform: rotate(-45deg);
}

.roll-dots-wrap {
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.roll-dot {
    border-radius: 50%;
    width: 12px;
    height: 12px;
    margin: 0 4px;
    background: #ccc;
    transition: transform 150ms;
}

.roll-dot:hover {
    transform: scale(1.2);
    transition: transform 150ms;
}

.roll-dot.is-active {
    background: #333;
    transform: scale(1.2);
}
